.container {
  width: 100%;
  min-height: 5vh;
  padding: 0 0.5rem;
  background-color:black;
  padding: 20px 5%;

  .tabbar{
    color: whitesmoke;
  }
  
  .text{
    color: whitesmoke;
    margin: 0 10px;
  }
}
